/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}








/* + Nav bar laterale a sinistra */
.NavBar-left{
    height: 100vh;   /* altezza della barra */
    width: 15vw;    /* lunghezza della barra */

    background-color: black;
    color: white;
}

