/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html{
    font-family: "Poppins", sans-serif;
    position: relative;
    background-color: rgb(8, 21, 32);
}


main {
    padding-left: 12%;
    /* padding-top: 6rem; */
    padding-bottom: 3rem;
    color: white;


    overflow-y: auto; /* per aggiungere la scrollbar */
}





#side-logo{
    height: 90%;
    margin: auto; /* Per centrare verticalmente */
    display: block; /* Per assicurarti che il logo sia centrato */

    padding: .9rem;
}


#playlist-section{
    padding: 1.7rem;
    padding-bottom: 0.4rem;
}


.add-playlist{
    width: 25px;
    height: 25px;
    font-size: 20px;

    background-color: gray;
    color: black;
    border: none;
}

.all-playlist{
    display: flex;
    flex-direction: column;
    list-style: none;

    margin-left: 1.8rem;
    margin-top: 1rem;
    gap: 18px;
}



/* # Bottoni---------------- */

.button{
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    color: white;
    background-color: black;
    border: white 3px solid;
    border-radius: 3rem;

    width: 13rem;
    height: 3rem;
    margin: .8rem;

    cursor: pointer;
}


.stiky{
    position: sticky;
    right: 40px;
}



/* # FINE-BOTTONI----------- */



/* -h COLORS */
.gray{
    color: gray;
}


/* -h COLORS */








/* +Upgrade */
.upgrade{
    width: 100%;

    /* position: relative; */
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: black;
    position: fixed;
    color: white;
    z-index: 1;
}



/* + Nav bar laterale a sinistra */
.NavBar-left{
    display: flex;
    flex-direction: column;
    position: absolute;
    position: fixed;
    

    
    height: 100vh;   /* altezza della barra */
    width: 12vw;    /* lunghezza della barra */

    background-color: black;
    color: white;
}



/* +elementi barra sinistra - disposizione elementi dentro la barra nera */
.list-element-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.element-of-list{
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: .5rem 1.8rem;
    gap: .5rem;
}


.gap{
    gap: 1rem;
}

.gap2{
    gap: 3rem;
}


.row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}


.allmusic{
    align-items: flex-start;
}


.volume-bar{
    background-color: gray;
    width: 150px;
    height: 5px;
    border-radius: 2rem;

    margin-right: 1.8rem;
}

.volume{
    position: absolute;
    z-index: 2;
    background-color: white;
    width: 36px;
    height: 5px;
    border-radius: 2rem;

}


.centered-line{
    align-items: center;
}


.music-progression{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 15px;
}



.music-bar{
    background-color: gray;
    width: 300px;
    height: 10px;
    border-radius: 2rem;
    
    margin-left: 1.3rem;
    margin-right: 1.3rem;
}



.music-minute{
    z-index: 2;
    background-color: white;
    width: 72px;
    height: 10px;
    border-radius: 2rem;
    align-items: center;
}








#music-bar{
    position: fixed;
    bottom: 0;
    width: 100%; 
    height: 8vh;
    background-color: rgb(39, 39, 39);


    /* organizzazione elementi al suo interno */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;

    color: white;
}


.music{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    gap: .8rem;
}

.nameandartist{
    display: flex;
    flex-direction: column;
}

#play-now{
    width: 20%;
    padding-left: 1.8rem;
}

.name-song{
    margin-right: 1.8rem;
    color: white;
}

.name-artist{
    color: gray;
}

.favorite{
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: .9rem;
}







/* #testing */
.profile{
    display: flex;
    flex-direction: column;

    padding-top: 20rem;
}


.profile-division{
    width: 100px;
}
/* #testing */



.explore{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    color: gray;

    margin-top: 1rem;
    position: relative;
    top: 5rem;
    margin-bottom: 6rem;
}


#RecentPlay{
    margin-bottom: 2rem;
}

.Recently-Played{
    padding: 3rem;
    padding-bottom: 1.8rem;
}

.margin-bottom{
    margin-bottom: 2rem;
}

.album{
    display: flex;
    flex-direction: column;
    width: 13%;
}


.ArtistProfile{
    border-radius: 50%;
}













/* # Responsive Web Page */

/* Per il formato tablet */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    /* regole CSS per il tablet */

    .list-element-left{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: smaller;
    }

    .NavBar-left{
        font-size: x-large;
        width: 14rem;
        z-index: 3;
    }

    .upgrade{
        height: 60px;
        width: 64rem;
    }


    .button{
        width: 24%;
        height: 62%;
    }


    .allmusic{
        max-width: 100vh;
    }


    .gap2{
        gap: 2rem;
    }


    .albumphoto{
        width: 150%;
    }


    .tablet{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 120%;
        gap: 5rem;
        flex-wrap: wrap;
    }


    .tablet2{
        max-width: 12rem;
        margin-left: 7rem;
    }

    .Recently-Played{
        margin-bottom: 2rem;
        margin-left: 6rem;
    }


    .explore{
        margin-left: 9rem;
        flex-wrap: wrap;
    }


    #music-bar{
        z-index: 3;
    }

    .music-bar{
        width: 12rem;
    }

    .music{
        font-size: medium;
        gap: 0.3rem;
        max-width: 40%;
    }


    #play-now{
        width: 20%;
        padding-left: 0.3rem;
    }

    .music-minute{
        width: 3rem;
    }

}







/* Per il formato smartphone */
@media only screen and (max-width: 767px) {
    /* regole CSS per lo smartphone */

    .smartphone{
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
    }

    .smartphone-view{
        padding-left: .5rem;
    }



    #side-logo{
        display: none;
    }



    .NavBar-left{
        width: 8%;
    }

    .smartphone-v{
        margin-left: -4%;
    }


    .smartphone-size{
        width: 125rem;
    }

    .gray{
        display: none;
    }


    #playlist-section {
        display: none;
    }


    .list-element-left{
        width: 270%;
    }



}